<%- layout('layouts/main.ejs') %>
    <h1>Profile</h1>
    <div class="card">
        <div class="card-body">
            <h3>
                <%= user.email%>
            </h3>
            <h4>
                <%=user.id%>
            </h4>
            <h5>
                <%=user.password%>
            </h5>
        </div>
    </div>